@import "color";
@import "variables";
@import "mixin";

.address-edit {
  width: 100vw;
  min-height: 100vh;
  background: $bg-grey;
  overflow: scroll;
  position: relative;

  .ant-list {
    .am-list-body {
      &:before {
        display: none;
      }
    }
  }

  .name {
    .am-list-body {
      &:before {
        display: none;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: #dfdfdf;
        display: block;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: -50vw;
        width: 200vw;
        height: 1px;
        transform: scale(0.5);
      }
    }
  }

  .address-mobile {
    .am-list-body {
      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }

  .am-list-item {
    height: 48px;
    padding-left: 16px;

    .am-input-item {
    }

    .am-input-control input {
      line-height: 15px;
      font-size: 15px;
      color: #333;
    }
  }

  .am-list-item {
    .am-list-line {
      .am-list-content {
        line-height: 15px;
        font-size: 15px;
        color: #333;
      }
    }
  }

  .address {
    height: 48px;
    width: 100vw;

    .icon {
      position: absolute;
      right: 15px;
      top: 12.5px;
      width: 20px;
      height: 20px;
      background: url("../../assets/image/common/icon_right.png") no-repeat;
      background-size: contain;
    }

    .am-list-line {
      .am-list-extra {
        text-align: left;
        overflow: visible;
        white-space: nowrap;
        flex-basis: 100%;
        font-size: 15px;
        color: #333;
      }
    }

    &:before {
      content: "";
      position: absolute;
      background-color: #dfdfdf;
      display: block;
      z-index: 1;
      top: 0;
      right: auto;
      bottom: auto;
      left: -50%;
      width: 200%;
      height: 1px;
      transform: scale(0.5);
    }
  }

  .detail {
    height: 100%;

    .am-list-body {
      height: auto;

      .am-list-item {
        height: auto;

        .am-textarea-control textarea {
          color: #333;
          font-size: 15px;
          line-height: 23px;

          &:before {
            content: "";
            position: absolute;
            background-color: #dfdfdf;
            display: block;
            z-index: 1;
            top: 0;
            right: auto;
            bottom: auto;
            left: -50%;
            width: 200%;
            height: 1px;
            transform: scale(0.5);
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .default {
    margin-top: 10px;
    width: 100vw;
    height: 48px;
    background: #fff;
    padding-left: 16px;

    .am-list-line {
      &:after {
        display: none !important;
      }
    }

    .am-switch {
      transform: scale(0.7);
    }
  }

  .foot-btn {
    width: 100vw;
    height: 48px;
    position: fixed;
    bottom: 0;
    background: #d3040f;
    text-align: center;

    .char {
      color: #fff;
      line-height: 48px;
      font-size: 15px;
    }
  }

  ._foot-btn {
    width: 100vw;
    height: 48px;
    position: fixed;
    bottom: 0;
    background: #d3040f;
    opacity: 0.4;
    text-align: center;

    .char {
      color: #fff;
      line-height: 48px;
      font-size: 15px;
    }
  }

  .foot-btn-edit {
    width: 100vw;
    height: 48px;
    position: fixed;
    bottom: 0;

    .delete {
      float: left;
      width: 50vw;
      height: 48px;
      background: #9a9a9a;
      text-align: center;

      .char {
        line-height: 48px;
        color: #fff;
        font-size: 15px;
      }
    }

    .save {
      float: left;
      width: 50vw;
      height: 48px;
      background: #d3040f;
      text-align: center;

      .char {
        line-height: 48px;
        color: #fff;
        font-size: 15px;
      }
    }
  }

  .edit-bottom {
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 50px;
    // background-color: rgba(255,255,255,0.2);
    // box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);

    .save-address {
      flex: 1;
      border-radius: 30px;
      background: #c4381b;

      span {
        position: fixed;
        height: 50px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        line-height: 50px;
        color: #fff;
        font-size: 16px;
      }
    }

    .delete-address {
      flex: 1;

      span {
        float: left;
        height: 50px;
        opacity: 0.4;
        background: #9a9a9a;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}

.am-list-item {
  position: relative;

  .am-list-line {
    .am-list-extra {
      .address-right {
        display: flex;

        .char {
          position: absolute;
          width: 30px;
          height: 20px;
          left: 0;
          top: 14px;
          font-size: 14px;
          color: #333;
        }

        .icon {
          position: absolute;
          right: 15px;
          top: 12.5px;
          width: 20px;
          height: 20px;
          background: url("../../assets/image/common/icon_right.png") no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.am-switch {
  .checkbox {
    width: 68px;
    height: 40px;

    &:before {
      width: 64px;
      height: 37px;
    }

    &:after {
      height: 35px;
      width: 41px;
      left: 4px;
      top: 2px;
    }
  }
}
