

$primary-color: #c54534;

$tcblue: #2F9BE9;
$green: #12B23A;
$red: #FF3A33;
$price:#BE9314;

$bg-white: #FFFFFF;
$bg-grey: #f8f8f8;

$line-grey: #E5E5E5;
$line-grey-dark:#b0b0b0;;
$line-grey-light:#999999;





$orange: #FF9900;
$pirce-free: #12B23A;

$font-default: #4d4948;
$font-dark: #808080;
$font-light: #CCCCCC;
$font-gray: #999999;