@import "color";
@import "variables";
@import "mixin";

.title-bar {
  width: 100%;
  height: 50px;
  padding: 0 $page-padding;
  line-height: 50px;

  p {
    float: left;
    font-size: 16px;
    color: #333;
  }

  a {
    float: right;
    color: #c54534;
    @include border-arrow();

  }

}

.my-banner {
  border-radius: 5px;
  overflow: hidden;

  .slider {
    height: calc((100vw - #{$page-padding} * 2) * .426) !important;

    .slider-frame {
      height: calc((100vw - #{$page-padding} * 2) * .426) !important;

      img {
        width: 100%;
      }
    }

    .slider-decorator-0 {
      width: auto !important;
      left: 50%;
      transform: translateX(-50%);
      bottom: 7px !important;
      background: rgba(51, 51, 51, .4);
      height: 7px;
      border-radius: 7px;

      .am-carousel-wrap {
        position: relative;
        top: -15px;

        .am-carousel-wrap-dot {
          span {
            width: 5px;
            height: 3px;
            background: #fff;
            border-radius: 3px;
          }
        }

        .am-carousel-wrap-dot-active {
          span {
            @extend .am-carousel-wrap-dot;
            width: 15px;
            background: $orange;
          }
        }
      }
    }
  }
}

.my-banner-ad {
  position: relative;

  .slider {
    height: calc((100vw - #{$page-padding} * 2) * .30) !important;

    .slider-frame {
      height: calc((100vw - #{$page-padding} * 2) * .30) !important;
    }
  }

  .ad-corner {
    position: absolute;
    right: 4vw;
    top: 10px;
    background: rgba(0, 0, 0, .3);
    width: 40px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: $bg-white;
    border-radius: 0 4px;
  }
}

.my-banner-house {

  .slider {
    height: 75vw !important;

    .slider-frame {
      height: 75vw !important;
    }
  }

}

.my-banner-estate {
  width: 92vw;
  margin: 4vw;

  .slider {
    height: 69vw !important;

    .slider-frame {
      height: 69vw !important;
    }
  }

}

.my-banner-without-dots {
  .slider-decorator-0 {
    display: none;
  }
}

.nav-bar {
  padding: 10px 0;
  min-height: 90px;
  display: flex;
  flex-wrap: wrap;

  .item {
    width: calc((100vw - #{$page-padding} * 2) / 4);
    height: 80px;
    padding: 5px 0;

    img {
      position: relative;
      width: 43px;
      height: 43px;
      left: 50%;
      transform: translateX(-50%);
    }

    p {
      margin-top: 5px;
      line-height: 23px;
      text-align: center;
    }
  }
}

.horizonal-scroll-container {
  overflow-x: scroll;
  width: calc(100vw - #{$page-padding});
  margin-left: $page-padding;

  ul {

    li {
      float: left;
      border: 1px solid #D8D8D8;
      border-radius: 4px;
      margin-right: 5px;
    }

  }
}

.my-rate {
  width: 100%;
  height: 20px;
  padding: 3px 0;

  ul {
    float: left;
    width: 90px;
    height: 14px;

    li {
      float: left;
      margin-right: 5px;
      width: 12px;
      height: 12px;
    }

    .full {
      // background: url("../../assets/image/common/star.png") center no-repeat;
      background-size: contain;
    }

    .half {
      // background: url("../../assets/image/common/star_half.png") center no-repeat;
      background-size: contain;
    }

    .empty {
      // background: url("../../assets/image/common/star_unchekced.png") center no-repeat;
      background-size: contain;
    }
  }

  span {
    display: block;
    color: #AE640B;
    line-height: 14px;
  }
}

.my-tags {
  width: 100%;
  overflow: hidden;

  li {
    float: left;
    margin-right: 5px;
    height: 17px;
    line-height: 17px;
    border: 1px solid #AE640B;
    border-radius: 4px;
    padding: 0 5px;
    font-size: 9px;
    color: #AE640B;
    transform: scale(.8);
  }
}

.house-list {
  width: 100%;
  padding: 0 $page-padding;

  li {
    float: left;
    width: calc((100vw - 35px) / 2);
    height: calc((100vw - 35px) / 2 / 1.33 + 95px);
    margin-right: 5px;
    margin-bottom: 5px;

    img {
      width: calc((100vw - 35px) / 2);
      height: calc((100vw - 35px) / 2 / 1.33);
      border-bottom: 1px solid #D8D8D8;
      border-radius: 4px;
    }

    .title {
      height: 20px;
      line-height: 20px;
      font-size: 13px;
      font-weight: 500;
      color: #333;
      @include multi-line(1)
    }

    .props {
      height: 18px;
      line-height: 18px;
      font-size: 11px;
      color: $font-light;
      @include multi-line(1);

    }

    .tags {
      margin-top: 5px;
      width: 100%;
      height: 20px;
      overflow: hidden;

      .ant-tag {
        padding: 3px;
        font-size: 11px;
        line-height: 14px;
        margin-right: 5px;
        background-color: #EFEFEF;
        color: #9A9A9A;
        border: none;
      }
    }

    .price {
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: $price;
      font-weight: 500;
      margin-top: 3px;

      em {
        font-size: 10px;
      }
    }

    &:nth-child(even) {
      margin-right: 0;
    }

  }
}

.house-list-flat {
  @extend .house-list;
  padding: 0;

  .gutter-date {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #9A9A9A;
    padding-left: $page-padding;
  }

  li {
    width: 100%;
    height: 120px;
    display: flex;
    padding: 5px $page-padding;
    margin: 0;
    background: #fff;

    img {
      flex: 0 0 140px;
      width: 140px;
      height: 105px;
    }

    .info {
      flex: 1;
      padding-left: 10px;

      .addr {
        @extend .props;
        padding-left: 12px;
        // background: url("../image/common/icon_addr.png") center left no-repeat;
        background-size: 9px;
      }

    }
  }
}

.filter-bar {
  width: 100%;
  height: 40px;
  padding: 0 $page-padding;
  margin-bottom: 7px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  position: sticky;
  top: 0;

  ul {
    float: left;

    li {
      width: 60px;
      float: left;

      p {
        position: relative;
        line-height: 40px;
        font-size: 13px;
        color: #4A4A4A;
        text-align: center;
      }
    }

    .with-icon {
      p {
        &:after {
          position: absolute;
          right: 4px;
          top: 14px;
          width: 10px;
          height: 12px;
          content: '';
        }
      }
    }

    .sorter {
      @extend .with-icon;

      p {
        &:after {
          // background: url("../image/product/icon_sorter_default.png") center no-repeat;
          background-size: contain;
        }
      }
    }

    .default {
      @extend .with-icon;

      p {
        &:after {
          // background: url("../image/product/icon_sorter_default.png") center no-repeat;
          background-size: contain;
        }
      }
    }

    .asc {
      @extend .with-icon;

      p {
        &:after {
          // background: url("../image/product/icon_sorter_asc.png") center no-repeat;
          background-size: contain;
        }
      }
    }

    .desc {
      @extend .with-icon;

      p {
        &:after {
          // background: url("../image/product/icon_sorter_desc.png") center no-repeat;
          background-size: contain;
        }
      }
    }

    .filter {
      @extend .with-icon;

      p {
        &:after {
          top: 13px;
          width: 12px;
          height: 13px;
          // background: url("../image/product/icon_filter.png") center no-repeat;
          background-size: contain;
        }
      }
    }

    .active {
      p {
        color: #c54534;
      }
    }
  }

  .switcher {
    float: right;
    margin: 13px 0;
    width: 14px;
    height: 14px;
    // background: url("../image/product/icon_style_flat.png");
    background-size: contain;
  }

  .switcher-flat {
    @extend .switcher;
    // background: url("../image/product/icon_style_box.png");
    background-size: contain;
  }
}

.my-drawer-wrapper {
  .overlay {
    top: 40px;
  }

  .drawer {
    z-index: 102;
    position: fixed;
    width: 100%;
    height: auto;
    max-height: 80vh;
    left: 0;
    top: -100vh;
    background: #fff;

    .container {
      padding-bottom: 15px;

      .block {
        width: 100%;
        padding: 5px 15px;

        .title {
          font-size: 15px;
          color: #333;
          line-height: 30px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .prices {
          width: 100%;
          height: 30px;

          input {
            float: left;
            background: #eee;
            width: 100px;
            height: 25px;
            border-radius: 25px;
            padding: 0 10px;
          }

          p {
            float: left;
            padding: 0 5px;
            line-height: 25px;
          }
        }

        .features {
          width: 100%;

          li {
            float: left;
            height: 25px;
            line-height: 23px;
            padding: 0 7px;
            font-size: 13px;
            font-weight: 300;
            border: 1px solid #D8D8D8;
            border-radius: 4px;
            margin-right: 10px;
            margin-bottom: 10px;
          }

          .active {
            background: #c54534;
            border: 1px solid #c54534;
            color: #fff;
          }
        }
      }
    }

    .btm {
      margin-top: 5px;
      width: 100%;
      height: 50px;
      display: flex;
      bottom: 0;
      padding: 5px 15px 0 15px;

      li {
        width: 110px;
        height: 40px;
        border-radius: 3px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        font-weight: 400;
      }

      .reset {
        flex: 2;
        background: $line-grey;
        color: #333;
        margin-right: 10px;
      }

      .ok {
        flex: 8;
        background: #c54534;
        color: #fff;

      }
    }

  }

  .drawer-open {
    @extend .drawer;
    top: 40px;
    animation: drawer-open .4s;
  }

  .drawer-hidden {
    @extend .drawer;
    top: -100vh;
    animation: drawer-close .4s;
  }

  @keyframes drawer-open {
    0% {
      top: -100vh;
    }

    100% {
      top: 40px;
    }
  }

  @keyframes drawer-close {
    0% {
      top: 40px;
    }

    100% {
      top: -100vh;
    }
  }

}

.common-pickedr-bar {
  width: 100%;
  height: 45px;
  padding: 13px 15px;
  display: flex;
  line-height: 19px;
  // background: url("../image/common/icon_arrow_right.png") center right 15px no-repeat;
  background-size: 6px;

  p {
    flex: 0 0 80px;
    overflow: hidden;
    font-size: 13px;
    color: #333;
    font-weight: 500;
  }

  label {
    flex: 1;
    padding: 0 10px;
    text-align: right;
    color: #9A9A9A;
  }
}

@keyframes common-popup-open {
  from {
    bottom: - $popup-height;
  }

  to {
    bottom: 0;
  }
}

.common-popup {
  position: fixed;
  width: 100vw;
  height: $popup-height;
  bottom: 0;
  left: 0;
  background: #fff;
  transition: bottom .4s;
  z-index: 102;
  animation: common-popup-open .4s;
  display: flex;
  flex-direction: column;
  border-radius: 12px 12px 0 0;


  .header {
    height: 50px;
    width: 100%;
    position: relative;
    @include border-btm();


    p {
      line-height: 50px;
      font-size: 15px;
      color: #333333;
      text-align: center;
      font-weight: 500;
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      // background: url('../image/common/icon_close.png') center no-repeat;
      background-size: 12px;
    }
  }

  .container {
    flex: 1;
    padding-bottom: 15px;
    overflow-y: scroll;


    .block {

      width: 100%;
      padding: 10px 15px;

      .title {
        font-size: 15px;
        color: #333;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .specs {
        width: 100%;

        li {
          float: left;
          display: inline-block;
          padding: 0 10px;
          height: 25px;
          background: #eee;
          border-radius: 12px;
          margin-right: 10px;
          line-height: 25px;
          margin-bottom: 10px;
        }

        .checked {
          background: #c54534;
          color: #fff;
        }
      }
    }
  }

  .btn {
    height: 40px;
    width: 92vw;
    margin: 10px 4vw;
    border-radius: 20px;
    text-align: center;
    line-height: 38px;
    font-size: 15px;
    font-weight: 500;
    background: #c54534;
    color: #fff;
  }
}

.common-popup-close {
  bottom: - $popup-height;
  transition: bottom .4s;
}

.common-tab {
  width: 100%;
  height: 45px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .06);

  li {
      flex: 1;
      text-align: center;
      line-height: 45px;
  }

  .active {
      font-weight: 500;
      color: #c54534;
  }

  .underline {
      position: absolute;
      margin-left: -10px;
      top: 43px;
      width: 20px;
      border-top: 3px solid #c54534;
      transition: left .3s;
  }

}

.my-search-bar {
  width: 100%;
  padding: $page-padding;
  height: 65px;

  .am-search {
    background: transparent;
    height: 35px;
    padding: 0;

    .am-search-input {
      height: 35px;
      padding: 0;
      border-radius: 20px;
      background: #efefef;

      .am-search-synthetic-ph {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        color: #9A9A9A;
      }

      input {
        height: 35px;
        line-height: 35px;
      }

      .am-search-clear {
        padding: 10px;
      }
    }

    .am-search-cancel {
      display: none;
    }
  }
}

.developing {
  img {
    position: relative;
    width: 70vw;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  p {
    width: 100%;
    margin-top: 140px;
    text-align: center;
    font-size: 14px;
    color: #c54534;
  }
}

.loading-spin {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  z-index: 1000;
  text-align: center;

  .am-activity-indicator {
    position: relative;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  p {
    margin-top: 5px;
  }
}

.article-list {

  li {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    @include border-btm();

    .img {
      flex: 0 0 105px;
      width: 105px;
      height: 60px;
      border-radius: 3px;
    }

    .right {
      flex: 1;
      padding-left: 7px;

      .title {
        width: 100%;
        font-size: 13px;
        font-weight: 600;
        height: 15px;
        line-height: 15px;
        color: #28292b;
        @include multi-line(1);
        cursor: pointer;
      }

      .intro {
        width: 100%;
        font-size: 12px;
        height: 40px;
        margin-top: 5px;
        line-height: 20px;
        color: #4c4948;
        @include multi-line(2);
      }

    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.load-more {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.rent-house-item {
  width: 100%;
  height: 90px;
  display: flex;
  padding: $page-padding;

  img {
    flex: 0 0 80px;
    width: 80px;
    height: 60px;
    border-radius: 4px;
  }

  .info {
    flex: 1;
    padding-left: 10px;

    .title {
      height: 20px;
      line-height: 20px;
      font-size: 13px;
      font-weight: 500;
      color: #333;
      @include multi-line(1)
    }

    .price {
      margin-top: 10px;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: $price;

      em {
        font-size: 10px;
      }
    }
  }
}